<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TecniFind - Encuentra tu compañero de tesis</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="app.component.css">
</head>
<body>
  <!-- Burbujas decorativas de fondo -->
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  
  <div class="container">
    <div class="presentation-container">
      <header>
        <div class="logo-container">
          <img src="img/tesis2.0.png" alt="Logo de TecniFind, una plataforma para conectar estudiantes" class="logo">
        </div>
        <h1>TecniFind</h1>
      </header>

      <div class="description-container">
        <p class="app-description">TecniFind es la plataforma que te ayudará a encontrar el compañero ideal para hacer
          tu proyecto de tesis. ¡Conéctate y forma tu equipo hoy mismo!</p>
      </div>

      <div class="buttons-container">
        <a href="#" class="btn download-button" (click)="descargarAPK()">
          <i class="fas fa-download"></i> Descargar APK para Android
        </a>

        <a href="https://base-datos-f12f5.web.app" class="btn web-button">
          <i class="fas fa-globe"></i> Versión Web
        </a>
      </div>
    </div>
  </div>
</body>
</html>
